apiVersion: v1
kind: Secret
metadata:
  name: example-creds
  namespace: crossplane-system
type: Opaque
stringData:
  credentials: |
    {
      "personal_access_token": "y0ur-t0k3n",
      "org_service_url": "https://dev.azure.com/y0ur-0rg"
    }
